<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand scroll" href="#intro">Twitter Bootstrap with Parallax scrolling</a>
			<ul class="nav">
				<li class="active"><a class="scroll" href="#intro">Home</a></li>
        <li><a class="scroll" href="#features">Features</a></li>
        <li><a class="scroll" href="#about">About</a></li>
      </ul>
		</div>
	</div>

			<div class="navbar-header">
				<a class="brand scroll" href="#intro">Twitter Bootstrap with Parallax scrolling</a>
        <ul class="nav">
          <li class="active"><a class="scroll" href="#intro">Home</a></li>
          <li><a class="scroll" href="#features">Features</a></li>
          <li><a class="scroll" href="#about">About</a></li>
        </ul>    
				<a class="navbar-brand" href="/">
					<i class="icon ion-beer"></i>
				</a>
			</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search (for happy hour)">
	</div>
	<button class="btn btn-default" type="submit">
		<b>Submit</b>
	</button>  
</nav>

<%= link_to 'Home', root_path %>
	<%= link_to 'About', about_path %>
	<%= link_to 'Bars', bars_path %>